
:root{
    --primary-color:#033b4a;
    --scondary-color:#20c997;
    --gray:#4a4a4d;
    --bg-primary:#ecf0f3;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

h1,
h2{
    font-family: 'siara', sans-serif;
}

ul{
    list-style: none;
}
a{
    text-decoration: none   ;
}

/* utility classes */
.contaner{
    max-width: 1000px;
    margin: auto;
    padding: 0 2rem;
}

.text-primary{
    color: var(--scondary-color)
}

.btn-primary{
    background-color: #20c997;
    padding: 8px  20px;
    font-size: 14px;
    border-radius: 5px;
    color: #fff;
    transition: all 0.4s ease;
    cursor: pointer;
    border: none;
}
.btn-primary:hover{
    background-color: #15a076;
}

/* ===== header start ===== */
header{
    background-color: var(--bg-primary);
    height: 100vh;
}

header .navbar{
    background-color: #fff;
    border: 1px solid #ccc;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header .navbar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    padding: 1.5rem 2rem;
}
#home #logo{
    color: var(--primary-color);
    font-size: 27px;
    font-weight: 700;
}

header .navbar nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navbar nav ul a{
    margin: 0 15px;
    color: var(--primary-color);
    font-weight: 600;
}

header .header-content{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin: auto;
    height: 100%;
    align-items: center;
    max-width: 1000px;
    padding: 5rem 2rem 0;
}

header .header-content .content-text{
    margin-bottom: 2rem;
}

#home .header-content p span{
    font-weight: 700;
    font-size: 20px;
} 

#home .header-content h1{
    margin-top: 10px;
   text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    font-size: 60px;
    color: var(--primary-color);
}

#home .header-content .title{
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
}

#home .header-content .social{
    margin: 1rem 0 2rem;
}

#home .header-content .social a i{
    margin-right: 10px;
    font-size: 18px;
    padding: 10px;
    background-color: var(--gray);
    color: #fff;
    border-radius: 50%;
    transition: all 0.4s ease;
}
#home .header-content .social a i:hover{
    transform: scale(0.85);
}

header .header-content img{
    width: 450px;
}
/* ===== header end ===== */

/* ===== about start ===== */
#about,
#skills,
#services,
#portfolio,
#contact{
    padding: 5rem 0;
}

#about h2,
#skills h2,
#services h2,
#portfolio h2,
#contact h2{
    text-align: center;
    font-size: 38px;
    color: var(--primary-color);
    font-weight: 600;
    letter-spacing: 1px;
}

#about hr,
#skills hr,
#services hr,
#portfolio hr{
    width: 100px;
    height: 3px;
    margin: 5px auto 0;
    border: none;
    background-color: var(--scondary-color);
}

#about .about-content{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 3rem;
}

#about .about-content .col-1 h3{
    font-size: 28px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

#about .about-content .col-1 p{
    margin-bottom: 20px;
    font-size: 14px;
    color: var(--gray);
    line-height: 1.8;
}

#about .about-content .col-2 p{
    margin-bottom: 20px;
    color: var(--gray);
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
/* ===== about end ===== */

/* ===== skills start ===== */
#skills{
    background-color: var(--primary-color);
}

#skills h2,
#portfolio h2{
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

#skills .skills-content{
    margin-top: 2rem;
    background-color: #0f272d;
}

#skills .skills-content .row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    text-align: center;
}
#skills .skills-content .row .item{
    color: #fff;
    background-color: #000;
    margin: 20px;
    padding: 1rem;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    transition: all 0.4s ease;
}
#skills .skills-content .row .item:hover{
    box-shadow: 10px 10px 10px #00f4ab0c;
}

#skills .row img{
    max-width: 50px;
}
/* ===== skills end ===== */

/* ===== services start ===== */
#services{
    background: #00f4ab0c;
} 


#services .heading {
    display: flex;
    justify-content: center;
    align-items: center;
}
#services .heading img{
    margin-right: 10px;
    width: 55px;
}

#services .row{
    z-index: 2;
    margin-top: 4rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 4rem;
}
#services .row .col{
    background-color: #fff;
    padding: 30px 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: all 0.4s ease;
}
#services .row .col:hover{
    transform: scale(1.04);
}

#services .row .col img{
    margin-bottom: 20px;
    width: 50px;
}

#services .row .col h3{
    margin: 15px 0;
    color: var(--primary-color);
}

#services .row .col p{
    font-size: 14px;
}
/* ===== services end ===== */

/* ===== portfolio start ===== */
#portfolio {
    background-color: var(--primary-color);
}

#portfolio .row {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#portfolio .row .item {
    background-color: #fff;
    border-radius: 5px;
    transition: all 0.4s ease;
}
#portfolio .row .item:hover{
    transform: scale(1.04);
}

#portfolio .row .item img{
    border:2px solid #ccc ;
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#portfolio .row .item .item-content{
    margin: 20px 15px 20px;
}

#portfolio .row .item .item-content h3{
    font-size: 20px;
    color: var(--primary-color);
    margin-bottom: 10px;
}
#portfolio .row .item .item-content a{
    color: var(--scondary-color);
    font-size: 14px;
    font-weight: 500;
}
/* ===== portfolio end ===== */

/* ===== contact start ===== */
#contact{
    background: #00f4ab0c;
}

#contact .row{
    margin-top: 4rem;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    border-radius: 10px;
    padding: 2rem 3rem;
}
#contact .row img{
    max-width: 400px;
}

#contact .row input, 
#contact .row textarea{
    display: block;
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    outline: none;
    background: #00f4ab0c;
    border: 1px solid #bbb;
}
/* ===== contact end ===== */

/* ===== footer start ===== */
footer{
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 20px;
    font-size: 14px;
}
footer a{
    color: #15a076;
    font-weight: 600;
}
/* ===== footer end ===== */

/* ===== resbonsive ===== */
@media (max-width:768px){
    header .navbar nav{
        display: block;
        text-align: center;
    }
    header .navbar nav ul{
        margin-top: 20px;
    }
    header .navbar nav ul a{
    margin: 0 8px;
    }
    header .header-content{
        grid-template-columns: 1fr;
    }
    header .header-content .content-text{
        margin-bottom: 0;
        margin-top: 5rem;
    }
    header .header-content img{
        max-width: 300px;
        margin: auto;
    }

    #about .about-content{
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
    #skills .skills-content .row,
    #services .row,
    #portfolio .row{
         grid-template-columns: repeat(2, 1fr);
    }
    #contact .row{
        grid-template-columns: 1fr;
    }
    #contact .row img{
       margin: auto;
    }
}

@media (max-width:500px){
    #home .header-content h1{
        font-size: 50px;
    }
    #skills .skills-content .row,
    #services .row,
    #portfolio .row {
        grid-template-columns: 1fr;
    }
    #contact .row img{
        max-width: 250px;
    }
    
}
/* finish */